<br><br><br><br><br><br><br><br>
<div class="questions" id="<%= @question.id %>">
	<h2><%= @question.title %></h2>
	<p><%= @question.content %></p>

		<div id="question-comments">
			<% @question.comments.each do |comment| %>
			<div class="individual-comment">
			<p><%= comment.content %></p>
			</div>
			<% end %>
			<a href="/comments/questions/new"><button type='button'>New Comment</button></a>
		</div>
	</div>
</div>


<div id="answers">
	<div class="subheader answers">
		<h2>Answers</h2>
	</div>

	<% @all_answers.each do |answer| %>

		<div class="answer">
			<table>
				<tbody>
					<tr>
						<td class="votecell">
							<div class="vote" id="<%= answer.id %>">
								<div class="votebuttons"><%= erb :_votebutton, locals:{target: answer, type: 'answers'}%>
								</div>
						</div>
						</td>
						<td class="answercell">
							<div class="post-text">
								<!-- <a href='/answers/<%=answer.id%>'> --><p><%= answer.content %></p><!-- </a> -->
							</div>

							<!-- Put this back when we're ready to style it -->
<!-- 						<div class="answer-info">
									asked by <a href="#"><%= answer.user.username %></a> at <%= answer.created_at.strftime("%c") %>
								</div> -->


						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="answer-comments">

			<% answer.comments %>

				<% answer.comments.each do |comment| %>
					<div class="individual-comment">
						<p><%= comment.content %></p>
					</div>
				<% end %>

				<button type='button'>New Comment</button>
				</p>

		</div>

	<% end %>

</div>

<form id="new_comment_form" method="post" action="/comments">
	<textarea name="comment" form="new_comment_form" placeholder="Join the discussion" id="editor"></textarea>
	<input type="hidden" value=<%= @question.id %> name = "question_id">
	<input type="submit" value="Post Comment">
</form>


<a href="/answers/new"><button type='button'>Reply with New Answer</button></a>


