
<div id="answers">
	<div class="subheader answers">
		<h2>Answers</h2>
		<div id="tabs">
			<a href="#">interesting</a>
			<a href="#">featured</a>
			<a href="#">hot</a>
		</div>
	</div>

	<% @all_answers.each do |answer| %>

		<div class="answer">
			<table>
				<tbody>
					<tr>
						<td class="votecell">
							<div class="vote">
								<a class="vote-up">up vote</a>
								<span class="vote-count">0</span>
								<a class="vote-down">down vote</a>
							</div>
						</td>
						<td class="answercell">
							<div class="post-text">
								<!-- <a href='/answers/<%=answer.id%>'> --><p><%= answer.content %></p><!-- </a> -->
							</div>
							<div class="answerer">
								answered by <a href="#"><%= answer.user.username %></a> at <%= answer.created_at.to_s[0..10].gsub(/(\d{4})-(\d{2})-(\d{2})/, '\2-\3-\1') %>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	<% end %>

</div>


ROUTES AND ISH

<% @all_answers.each do |answer| %>
  <article>

  <div class="votebuttons"><%= erb :_votebutton, locals:{target: answer, type: 'answers'}%></div>
  <div class="list-content">
    <a href='/answers/<%=answer.id%>'><%= answer.content %></a>

    <p>
    <span class='username'><%= answer.user.username %></span>
      <span class='timestamp'><%= answer.created_at %></span>
    <a href="/answers/<%= answer.id %>/edit"><button type='button'>Edit My Answer</button></a>
    <form id="question" method="post" action="/answers/<%= answer.id %>">
      <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete My Answer">
    </form>
    </p>
  </div>
  </article>
<% end %>


<a href="/answers/new"><button type='button'>Reply with New Answer</button></a>


<a href="/questions/<%= @question.id %>/edit"><button type='button'>Edit Question</button></a>

<form id="question" method="post" action="/questions/<%= @question.id %>">
<input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Question">
</form>
