

<% @all_questions.each do |question| %>

  <article>

  <div class="vote"><%= erb :_votebutton, locals:{target: question, type: 'questions'}%></div>
	<a href='/questions/<%=question.id%>'><%= question.title %></a>
	<p>
	<span class='username'><%= question.user.username %></span>
    <span class='timestamp'><%= question.created_at %></span>
	</p>
	</article>
<% end %>

<a href="/questions/new"><button type='button'>New Question</button></a>